/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
}
